*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
    background-color: rgb(10, 14, 32);
}
header{
    text-align:center;
    color: rgb(255, 255, 255);
    padding: 2vh;
    margin-bottom: 5vh;
    font-size: 1.5em;
    background-color: rgb(1, 33, 105);
    min-height: 5vh;
    width: 100dvw;
}
ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: auto;
}

li{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(1, 33, 105);
    /*height: 320px;
    width: 300px;*/
    margin: 2%;
    padding: 2%;
    border-radius: 2vh;
    color: rgb(235, 217, 217);
}

img{
    max-width:90%;
    border-radius: 150px; 
    margin: 5px; 
}
a{
    text-decoration: none;
    text-align:center;
    color: rgb(244, 0, 43);
}
a:hover{
    background-color: rgb(59, 81, 202);
    border-radius: 0.5vh;
}