body{
    margin: 0%;
    background-color: rgb(19, 12, 12);
}
header{
    text-align:center;
    color: rgb(255, 255, 255);
    padding: 2vh;
    font-size: 1.5em;
    background-color: rgb(1, 33, 105);
    min-height: 5vh;
}
ul{
    display: flex;
    
}

li{
    list-style:none;
    flex-wrap: wrap;
    text-align: center;
    background-color:rgb(1, 33, 105);
    height: auto;
    width: auto;
    padding: 2vh;
    border-radius: 2vh;
    margin: 2vh;
}
.img-container{
    flex-wrap: wrap;
    color: rgb(235, 217, 217);
}
img{
    max-width:30vh;
    border-radius: 30vh;
    
}
a{
    display: block;
    text-decoration: none;
    text-align:center;
    color: rgb(244, 0, 43);
}
a:hover{
    background-color: rgb(59, 81, 202);
    border-radius: 0.5vh;
}