body{
    margin: 0%;
    background-color: rgb(228, 0, 43);
}
header{
    text-align:center;
    color: rgb(228, 0, 43);
    padding: 2vh;
    font-size: 1.5em;
    background-color: rgb(1, 33, 105);
    min-height: 5vh;
}
form{
    width:90vw;
    
}
fieldset{
    margin: 10vh;
    margin-left: 2vh;
    border-radius: 4vh;
}
label{
    margin: 2vh;
    display:inline-table;
    color: rgb(255, 255, 255);
}
legend{
    text-align: center; 
    color: rgb(8, 2, 188);
}
input{
    margin: 2vh;
    border-radius: 2vh;
}
input[type="checkbox"]{
    border-radius: 50%;
    outline: none;
    background-color:rgb(202, 50, 50);
    color: blueviolet;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: aqua;
}
button{
    margin: 2vh;
    border-radius: 2vh;
}
button:hover{
    margin: 2vh;
    border-radius: 2vh;
    cursor: pointer;
    background-color: aqua;

}
nav{
    padding: 2vw 5vw;

}
img{
    height:max-content;

}
footer{
    margin: 0;
    position: absolute;
    bottom:0vh;
    width: 100vw;
    height: 15vh;
    display:flex;
    border: 15px solid;
    border-image-source: linear-gradient(red blue);
}
footer div{
    margin: 0vh 20vh;
    align-self: center;
}
footer img{
    border-radius: 50%; 
    height: 10vh;
}
li li{
    color: brown;
}
