body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(315deg, rgb(15,10,255) 0%,rgb(200,15,55) 100%);
}
.container{
    display: flex;
    flex-direction: column;
    position:absolute;
    padding: 1%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 75vh;
    max-width: 95vw;
    height: 90vh;
    
    background-color: #8a2be2;
}
.game-panel{
    display: flex;
    flex-direction: row;
    justify-items:center;   
    font-size: 1.5rem;
}
.game-panel>div{
    position: absolute;
    left: 1%;
}
#score{
    
}
h2{
    font-size: 2rem;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color:#f0f8ff;
    
}
.game{
    width: 90%;
    height: 90%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid #ff0000;
}
.reset{
    width: 80%;
    font-size: 90%;
    height: 5%;
    cursor: pointer;
    position: relative;
}
.reset:focus{
    background-color: #ffe4c4;
}

.item{
    position: relative;
    display:block;
    font-size: 5vh;
    text-align: center;
    border: 1px solid #8f7c7c;
    margin: 1vh;
    height: 10vh;
    width: 10vh;
    user-select: none;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    position: absolute;
    content: " ";
    inset: 0;
    transform: rotateY(0);
    transition: 0.25s;
    background-color: #a5a5a5;
    backface-visibility: hidden;
}

.turned{
    position: relative;
    display:block;
    font-size: 5vh;
    text-align: center;
    border: 1px solid #8f7c7c;
    margin: 1vh;
    height: 10vh;
    width: 10vh;
    user-select: none;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.25s;
}

.turned.item::before{
    /*position: relative;
    content: " ";
    inset: 0;
    transform: rotateY(180deg);
    transition: 0.25s;
    background-color: #a5a5a5;
    */
}